
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.4 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

body {
  font: normal normal normal 1em/normal Helvetica, Arial ,sans-serif;
  font: 15px/22px Georgia,serif;
  background: #000;
  margin: 0;
  padding: 0;
  background: #fff url('keithAndDave.jpg') left top fixed no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}
p {
  line-height: 1.5em;
}
#grid {
  margin-top: 10px;
}
#grid input {
  width: 25px;
  height: 32px;
  border: 0;
  margin: 0;
  padding: 5px 0 0 12px;
  font-size: 24px;
  font-weight: bold;
}
#grid input:focus {
  outline-width: 0;
}
#grid input.solved1 {
  color: #4584be;
}
#grid input.solved2 {
  color: #e36b23;
}
#grid input.guessed {
  color: #C44032;
  font-weight: bold;
}
#grid input.row0, #grid input.row3, #grid input.row6 {
  border-top: 2px solid #333;
}
#grid input.row1, #grid input.row2, #grid input.row4, #grid input.row5, #grid input.row7, #grid input.row8 {
  border-top: 1px solid #333;
}
#grid input.row8 {
  border-bottom: 2px solid #333;
}
#grid input.col0, #grid input.col3, #grid input.col6 {
  border-left: 2px solid #333;
}
#grid input.col1, #grid input.col2, #grid input.col4, #grid input.col5, #grid input.col7, #grid input.col8 {
  border-left: 1px solid #333;
}
#grid input.col8 {
  border-right: 2px solid #333;
}
#main {
  width: 960px;
  min-height: 698px;
  margin: 0 auto;
  padding-top: 15px;
  position: relative;
}
.siteLink {
  font-style: italic;
}
#gridAndControls {
  margin: 0 0 0 500px;
  width: 350px;
  background: #fff;
  opacity: 0.9;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  padding: 10px 25px 25px 25px;
}
h1 {
  font-size: 45px;
  font-style: italic;
  line-height: 1.2em;
  padding-left: 5px;
}
.char1, .char6, .char11 {
  color: #C44032;
}
.char2, .char7, .char12 {
  color: #e36b23;
}
.char3, .char8, .char13 {
  color: #e6c92e;
}
.char4, .char9 {
  color: #5da028;
}
.char5, .char10 {
  color: #4584be;
}
#sudokuHelperLinks {
  display: block;
  position: absolute;
  top: 15px;
  margin-left: 10px;
}
#sudokuHelperLinks li {
  list-style-type: none;
  float: left;
  display: block;
  margin-right: 70px;
}
#sudokuHelperLinks li a {
  display: block;
  padding: 10px 25px;
  background: #fff;
  opacity: 0.9;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  text-decoration: none;
}
h2 {
  padding-top: 10px;
  font-size: 25px;
  clear: left;
  font-weight: normal;
}
#clearGrid {
  cursor: pointer;
  text-decoration: underline;
}
#solveMySudokuButton {
  margin: 15px 0 0 0;
  width: 175px;
  height: 65px;
  font-size: 23px;
}
#solveMySudokuResult {
 padding-top: 10px;
 margin-left: 187px;
}
#controls p {
  padding-top: 5px;
}
.result {
  color: #C44032;
}
#controls ul {
  margin: 10px 0 0 5px;
}
#controls ul li {
  list-style-type: none;
  margin-bottom: 2px;
}
#controls ul li input {
  margin-right: 10px;
}
#gridSelector {
  width: 155px;
  float: left;
}
#sudokuStringWrapper {
  margin-top: 5px;
}
#sudokuString {
  width: 180px;
  margin-right: 10px;
}
.clear {
  clear: left;
}

.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
/*  padding: .5em 2em .55em; */
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}
.orange {
  color: #fef4e9;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
  background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
  background: -moz-linear-gradient(top,  #f88e11,  #f06015);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
  background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}










.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media only all and (max-width: 1024px) and (max-height: 768px) { /* Important: 1024x768px has the same ratio as 1280x960px */
  body {  
    -moz-background-size: 1024px 768px;
    background-size: 1024px 768px;
  }
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}